<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="rutaSeguimiento" value="C:\SAI\Seguimiento" />
    <add key="rutaLiberacion" value="C:\SAI\Liberacion" />
    <add key="URLArchivos" value="C:\SAI\Solicitud" />
    <add key="smtpServer" value="" />
    <add key="smtpPort" value="" />
    <add key="smtpUser" value="" />
    <add key="smtpPassword" value="" />
    <add key="smtpFrom" value="SAI@deltasoft.com.mx" />
  </appSettings>
  <connectionStrings>
    <add name="SAIConnectionString" connectionString="Data Source=SDF-3\DSSQLS;Initial Catalog=SAI_DS;Uid=sa;Password=numen79;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="Img" allowOverride="false">
    <system.web>
      <globalization culture="es-MX" uiCulture="es-MX" />
      <authorization>
        <allow users="*" />
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UsrCtrls" allowOverride="true">
    <system.web>
      <globalization culture="es-MX" uiCulture="es-MX" />
      <authorization>
        <allow users="*" />
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Styles" allowOverride="true">
    <system.web>
      <globalization culture="es-MX" uiCulture="es-MX" />
      <authorization>
        <allow users="*" />
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Mobile">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="20" slidingExpiration="true" name="appAuth" defaultUrl="Default.aspx" path="/" cookieless="UseDeviceProfile" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <customErrors mode="On" defaultRedirect="Error/PageError.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="Error/PageNotFound.aspx" />
      <error statusCode="500" redirect="Error/PageError.aspx" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="Error/PageError.aspx" responseMode="ExecuteURL" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="Error/PageNotFound.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" />
    </handlers>
  </system.webServer>
</configuration>