
table {		
		border-collapse:separate;
		background:#EFF4FB;	
		border-style:solid;
		color: #333;
		border-style:solid;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
		font-weight: bold;
		font-size: 14px;
}

.MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color:Silver;
    color: red;

